<md-toolbar color="primary">
  <span>{{headers[store.state.action]}}</span>
  <span class="example-fill-remaining-space"></span>
  <button md-raised-button color="accent" *ngIf="store.state.action !== 'NEW'" (click)="tableService.newProduct()">Dodaj
    produkt
  </button>
</md-toolbar>

<app-product [item]="store.state.product" [action]="store.state.action"></app-product>
<app-table [items]="store.state.list" [action]="store.state.action" [filters]="store.state.filters"
           [sortColumn]="store.state.sortColumn" [sortAsc]="store.state.sortAsc"></app-table>
