
<td>
  <img src="{{item.image}}" class="img-thumbnail" alt="Responsive image">
</td>
<td>{{item.name}}</td>
<td>{{item.price | currency}}</td>
<td>
  <button type="button" class="btn btn-secondary btn-sm" (click)="list.viewProduct(item)"><i class="fa fa-eye" aria-hidden="true"></i></button>
  <button type="button" class="btn btn-secondary btn-sm" (click)="list.editProduct(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
  <button type="button" class="btn btn-secondary btn-sm" (click)="list.deleteProduct(item)"><i class="fa fa-ban" aria-hidden="true"></i></button>
</td>
